extends ../layout.pug

block content
    .card.mb-4
        .card-header
            i.fas.fa-edit.mr-1
            |    Update Purchase Details
            .card-body            
            #inner
                div
                    each detail in purchase
                        form(method="POST" action="/agent/updateInstallment")
                            fieldset
                                legend Client Information
                                .control
                                    label First name
                                    input(type="text" placeholder="First name" name="fname" value=detail.fname required)
                                .control
                                    label Last name
                                    input(type="text" placeholder="Last name" name="lname" value=detail.lname required)
                                .control
                                    label Physical Address
                                    input(type="text" placeholder="Luwum Street Plot 32" name="address" value=detail.address required)
                                .control
                                    label Telephone Number
                                    input(type="text" placeholder="07xx-xxxxxx" name="tel" value=detail.tel required)
                                .control
                                    label Email
                                    input(type="text" placeholder="example@gmail.com" name="email" value=detail.email required)
                                .control
                                    label National ID
                                    input(type="text" placeholder="National ID NIN" name="NIN" value=detail.NIN required)
                                .control
                                    label Referee Number
                                    input(type="text" placeholder="07xx-xxxxxx" name="ref" value=detail.ref required)

                            fieldset
                                legend Item Details
                                .control
                                    label Item name  
                                    input(type="tect" placeholder="Item name" name="itemName" value=detail.itemName readonly)
                                .control
                                    label Serial Number
                                    input(type="text" placeholder="Serial Number" name="serialNo" value=detail.serialNo readonly)
                                
                            fieldset
                                legend Payment Details
                                .control
                                    label Purchase Receipt
                                    input(type="text" name="receipt" value=detail.receipt readonly)
                                    //- Hidden fields
                                    input(type="hidden" name="agent" value=user.empid)
                                    input(type="hidden" name="id" value=detail._id)

                            input#submit(type="submit" value="Update" onclick="validate()")
                        