extends ../layout.pug

block content
    .card.mb-4
        .card-header
            i.fas.fa-table.mr-1
            |    Purchases

        .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width="100%" cellspacing="0")
                        thead
                            tr     
                                th New                
                                th First Name
                                th Last Name
                                th Address
                                th Telephone
                                th Email
                                th National ID
                                th Referee Tel.
                                th Item Name
                                th Serial NO.
                                th Price
                                th Installments
                                th Date of Pay
                                th Recorded by
                                th Balance
                                th Next Installment
                                th Next Pay Date
                                th Receipt NO.
                        tfoot
                            tr     
                                th New                
                                th First Name
                                th Last Name
                                th Address
                                th Telephone
                                th Email
                                th National ID
                                th Referee Tel.
                                th Item Name
                                th Serial NO.
                                th Price
                                th Installments
                                th Date of Pay
                                th Recorded by
                                th Balance
                                th Next Installment
                                th Next Pay Date
                                th Receipt NO.
                        tbody
                            each detail in Transaction
                                tr
                                    td
                                        form(method="get" action='/agent/updateInstallment/'+detail._id)
                                            button(type="submit") Update
                                        br
                                        form(method="get" action='/agent/installment/'+detail._id)
                                            button(type="submit") Installment

                                    td #{detail.fname}
                                    td #{detail.lname}
                                    td #{detail.address}
                                    td #{detail.tel}
                                    td #{detail.email}
                                    td #{detail.NIN}
                                    td #{detail.ref}
                                    td #{detail.itemName}
                                    td #{detail.serialNo}
                                    td 
                                    td
                                        ol
                                            each installment in detail.payment
                                                li=installment
                                    td
                                        ol
                                            each date in detail.DOP
                                                li=date
                                    td 
                                    td 
                                    td #{detail.nextPay}
                                    td #{detail.nDOP}
                                    td #{detail.receipt}  