extends ../layout.pug

block content
    #outer
        h2 Edit Agent Details:
        #inner
            div 
                each detail in agent
                    form(method="POST" action="/manager/updateAgent")
                        fieldset
                            legend Details
                            .control
                                label National ID
                                input(type="text" placeholder="NIN" name="NIN" value=detail.NIN)
                            .control
                                label Employee ID
                                input(type="text" placeholder="Employee ID" name="empid" value=detail.empid)
                            .control
                                input(type="hidden" name="role" value="Sales Agent")
                                        
                        fieldset
                            legend Bio-data
                            .control
                                label First name
                                input#firstname(type="text" placeholder="First Name" name="fname" value=detail.fname)
                            .control
                                label Last name
                                input#lastname(type="text" placeholder="Last Name" name="lname" value=detail.lname)
                            .control
                                label Date of Birth
                                input#dob(type="date" name="dob" value=detail.dob)
                            .control
                                label Gender
                                select(name="gender")
                                    option
                                    option
                                        | Male
                                    option
                                        | Female

                        fieldset
                            legend Contact
                            .control
                                label Telephone
                                input(type="text" placeholder="Telephone" name="telephone" value=detail.telephone)
                            .control
                                label Email
                                input(type="email" placeholder="Email" name="email" value=detail.email)
                            .control
                                label Address
                                input(type="text" placeholder="Address" name="address" value=detail.address)

                        input(type="hidden" placeholder="" name="id", value=detail._id)
                        input#submit(type="submit" value="Update" onclick="validate()")
                    