extends ../layout.pug

block content
    .card.mb-4
        .card-header
            i.fas.fa-table.mr-1
            |    Purchases

        .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width="100%" cellspacing="0")
                        thead
                            tr                     
                                th First Name
                                th Last Name
                                th Address
                                th Telephone
                                th Email
                                th National ID
                                th Referee Tel.
                                th Item Name
                                th Serial NO.
                                th Initial Pay
                                th Date of Pay
                                th Next Installment
                                th Next Pay Date
                                th Receipt NO.
                                th
                                th
                        tbody
                            each detail in Transaction
                                tr
                                    td #{detail.fname}
                                    td #{detail.lname}
                                    td #{detail.address}
                                    td #{detail.tel}
                                    td #{detail.email}
                                    td #{detail.NIN}
                                    td #{detail.ref}
                                    td #{detail.itemName}
                                    td #{detail.serialNo}
                                    td
                                        ol
                                            each installment in detail.payment
                                                li=installment
                                    td
                                        ol
                                            each date in detail.DOP
                                                li=date
                                    td #{detail.nextPay}
                                    td #{detail.nDOP}
                                    td #{detail.receipt} 
                                    td
                                        form(method="get" action='/agent/updateItem')
                                            input(type="hidden" placeholder="" name="id", value=detail._id)
                                            button(type="submit")
                                                i.fas.fa-edit
                                    td
                                        form(method="post" action='/agent/removeItem')
                                            input(type="hidden" placeholder="" name="photo", value=detail.photo)
                                            input(type="hidden" placeholder="" name="id", value=detail._id)
                                            button(type="submit")
                                                i.fas.fa-trash