extends layout.pug

block content
    .container-fluid
    h1.mt-4 Welcome #{user.fname}
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active Dashboard
    .row
        .col-xl-3.col-md-6
            .card.bg-danger.text-white.mb-4
                .card-body Out of Stock: #{outStock}
                .card-footer.d-flex.align-items-center.justify-content-between
                    a.small.text-white.stretched-link(href="/manager/outStock")
                        | View
                    .small.text-white
                        i.fas.fa-angle-right        
        .col-xl-3.col-md-6
            .card.bg-success.text-white.mb-4
                .card-body Purchases: #{transactions}
                .card-footer.d-flex.align-items-center.justify-content-between
                    a.small.text-white.stretched-link(href="/manager/transactions")
                        | View
                    .small.text-white
                        i.fas.fa-angle-right
        .col-xl-3.col-md-6
            .card.bg-primary.text-white.mb-4
                .card-body Items: #{items}
                .card-footer.d-flex.align-items-center.justify-content-between
                    a.small.text-white.stretched-link(href="/manager/items")
                        | View
                    .small.text-white
                        i.fas.fa-angle-right
        .col-xl-3.col-md-6
            .card.bg-primary.text-white.mb-4
                .card-body Agents: #{agents}
                .card-footer.d-flex.align-items-center.justify-content-between
                    a.small.text-white.stretched-link(href="/manager/agents")
                        | View
                    .small.text-white
                        i.fas.fa-angle-right