extends layout.pug

block content
    .card.mb-4
        .card-header
            i.fas.fa-table.mr-1
            |    Clients

        .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width="100%" cellspacing="0")
                        thead
                            tr                     
                                th First Name
                                th Last Name
                                th Address
                                th Telephone
                                th Email
                                th National ID
                                th Referee Tel.
                        tfoot
                            tr                     
                                th First Name
                                th Last Name
                                th Address
                                th Telephone
                                th Email
                                th National ID
                                th Referee Tel.

                        tbody
                            each detail in Client
                                tr
                                    td #{detail.fname}
                                    td #{detail.lname}
                                    td #{detail.address}
                                    td #{detail.tel}
                                    td #{detail.email}
                                    td #{detail.NIN}
                                    td #{detail.ref}