extends ../layout.pug

block content
    .card.mb-4
        .card-header
            |    Update LTPP item

            .card-body
            #inner
                div
                    each detail in LTPP
                        form(method="POST" action="/manager/updateItem" enctype="multipart/form-data")
                            fieldset
                                legend Product
                                .control
                                    label Image
                                    input(type="file" name="photo" id="photo" value=detail.photo)
                                .control
                                    label Name
                                    input(type="text" placeholder="Name" name="name" id="name" value=detail.name)
                                .control
                                    label Make
                                    input(type="text" placeholder="Make" name="make" id="make" value=detail.make)
                                .control
                                    label Serial Number
                                    input(type="text" placeholder="Serial Number" name="serialNo" id="serialNo" value=detail.serialNo)
                                .control
                                    label Color
                                    input(type="text" placeholder="Color" name="color" value=detail.color)
                                .control
                                    label Description
                                    textarea(placeholder="Enter product Description" name="description", cols="40", rows="2")=detail.description
                                .control
                                    label Category
                                    input(list="categories" type="text" name="category" id="category" value=detail.category)
                                    datalist(id="categories")
                                        option
                                            | Furniture
                                        option
                                            | FitnessKits
                                        option
                                            | TVs
                                        option
                                            | HomeTheatres
                                        option
                                            | Others

                            fieldset
                                legend Details
                                .control
                                    label Date of Entry
                                    input(type="date" name="DOE" value=detail.DOE)
                                .control
                                    label Number in Stock
                                    input(type="text" placeholder="Number in Stock" name="numberInStock" id="numberInStock" value=detail.numberInStock)
                                .control
                                    label Price
                                    input(type="text" placeholder="Price" name="price" id="price" onclick="firstInstall()" value=detail.price)
                                .control
                                    label Initial Pay
                                    input(type="text" placeholder="Initial Pay" name="initialPay" id="initialPay" value=detail.initialPay)
                                .control
                                    label Pay Interval
                                    input(type="text" placeholder="Interval" name="payInterval" id="payInterval" value=detail.payInterval)

                            p#error
                            input(type="hidden" placeholder="" name="id", value=detail._id)
                            input#submit(type="submit" value="Update" onmouseover="validate()")
                        