extends ../layout.pug

block content
    .card.mb-4
        .card-header
            i.fas.fa-table.mr-1
            |    LTTP Items

        .card-body
                .table-responsive
                    table#dataTable.table.table-bordered(width="100%" cellspacing="0")
                        thead
                            tr                     
                                th Photo
                                th Name
                                th Make
                                th Serial Number
                                th Color
                                th Description
                                th Category
                                th Date of Entry
                                th Number in Stock
                                th Price
                                th Initial Pay
                                th Pay Interval
                                th
                                th
                        tbody
                            each item in LTPP
                                tr
                                    td 
                                        img.item-image(src=""+item.photo)
                                    td #{item.name}
                                    td #{item.make}
                                    td #{item.serialNo}
                                    td #{item.color}
                                    td #{item.description}
                                    td #{item.category}
                                    td #{item.DOE}
                                    td #{item.numberInStock}
                                    td #{item.price}
                                    td #{item.initialPay}
                                    td #{item.payInterval}
                                    td
                                        form(method="get" action='/manager/updateItem')
                                            input(type="hidden" placeholder="" name="id", value=item._id)
                                            button(type="submit")
                                                i.fas.fa-edit
                                    td
                                        form(method="post" action='/manager/removeItem')
                                            input(type="hidden" placeholder="" name="id", value=item._id)
                                            button(type="submit")
                                                i.fas.fa-trash